Repository vergenzt/generate-dockerignore-from-gitignore: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen_readme, tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^test_cases

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.284
  hooks:
  - id: ruff

- repo: local
  hooks:

  - id: regen_readme
    name: regenerate readme (from --help)
    language: system
    entry: bash -c './generate_dockerignore.py --help > README.txt'
    files: ^generate_dockerignore\.py$

  - id: tests
    name: tests
    language: system
    entry: python -m unittest
    files: \.py$

Bump to 0.1.1
  generate_dockerignore.py
Due: regen_readme, tests

Ignore .env*
  .gitignore
Due: none

Add readme to pyproject.toml
  generate_dockerignore.py
  pyproject.toml
Due: regen_readme, tests

Add pip-compile-multi
  .pre-commit-config.yaml
  requirements/dev.in
  requirements/dev.txt
  requirements/test.in
  requirements/test.txt
Due: none

Add test_case 03_local_git_info_exclude, & paramaterize tests
  test.py
  test_cases/03_local_git_info_exclude/expected_output
  test_cases/03_local_git_info_exclude/expected_repo_files/-dockerignore
  test_cases/03_local_git_info_exclude/source_files/home/repo/-git/info/exclude
  test_cases/03_local_git_info_exclude/source_files/home/repo/bar/baz/foo
  test_cases/03_local_git_info_exclude/source_files/home/repo/bar/foo
  test_cases/03_local_git_info_exclude/source_files/home/repo/foo
Due: tests

Regen readme with COLUMNS=100
  .pre-commit-config.yaml
  README.txt
Due: none

Add Github action
  .github/workflows/pre-commit.yml
Due: none

Add Python version
  .python-version
Due: none

Add GHA cache-dependency-path
  .github/workflows/pre-commit.yml
Due: none

Remove nested files from test_cases/03_local_git_info_exclude
  .pre-commit-config.yaml
  test_cases/03_local_git_info_exclude/source_files/home/repo/bar/baz/foo
  test_cases/03_local_git_info_exclude/source_files/home/repo/bar/foo
Due: none

Add test_cases/04_global_git_excludesfile_xdg/
  .pre-commit-config.yaml
  test.py
  test_cases/04_global_git_excludesfile_xdg/expected_output
  test_cases/04_global_git_excludesfile_xdg/expected_repo_files/-dockerignore
  test_cases/04_global_git_excludesfile_xdg/source_files/home/config/git/ignore
  test_cases/04_global_git_excludesfile_xdg/source_files/home/repo/foo
Due: tests

Fix tests
  .pre-commit-config.yaml
  test.py
  test_cases/04_global_git_excludesfile_xdg/expected_repo_files/-dockerignore
  test_cases/04_global_git_excludesfile_xdg/source_files/home/-config/git/ignore
Due: tests

Add mypy
  .pre-commit-config.yaml
  generate_dockerignore.py
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Due: regen_readme, tests

Extract Dockerfile out of test.py
  test.py
  test_cases/Dockerfile
Due: tests

Migrate to src vs test dirs
  .pre-commit-config.yaml
  requirements/dev.in
  requirements/dev.txt
  src/generate_dockerignore.py
  test/cases/.gitignore
  test/cases/01_simple/expected_output
  test/cases/01_simple/expected_repo_files/-dockerignore
  test/cases/01_simple/expected_repo_files/-gitignore
  test/cases/01_simple/source_files/home/repo/-gitignore
  test/cases/01_simple/source_files/home/repo/foo
  test/cases/02_recursive_match/expected_output
  test/cases/02_recursive_match/expected_repo_files/-dockerignore
  test/cases/02_recursive_match/expected_repo_files/-gitignore
  test/cases/02_recursive_match/source_files/home/repo/-gitignore
  test/cases/02_recursive_match/source_files/home/repo/bar/baz/foo
  test/cases/02_recursive_match/source_files/home/repo/bar/foo
  test/cases/02_recursive_match/source_files/home/repo/foo
  test/cases/03_local_git_info_exclude/expected_output
  test/cases/03_local_git_info_exclude/expected_repo_files/-dockerignore
  test/cases/03_local_git_info_exclude/source_files/home/repo/-git/info/exclude
  test/cases/03_local_git_info_exclude/source_files/home/repo/foo
  test/cases/04_global_git_excludesfile_xdg/expected_output
  test/cases/04_global_git_excludesfile_xdg/expected_repo_files/-dockerignore
  test/cases/04_global_git_excludesfile_xdg/source_files/home/-config/git/ignore
  test/cases/04_global_git_excludesfile_xdg/source_files/home/repo/foo
  test/cases/Dockerfile
  test/test.py
Due: tests

Add cogapp, update README.md
  .pre-commit-config.yaml
  README.md
  README.txt
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  src/generate_dockerignore.py
Due: tests

Change ruff to be local dependency
  .pre-commit-config.yaml
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  src/generate_dockerignore.py
  test/test.py
Due: tests

Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add publishing section to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update pre-commit.yml
  .github/workflows/pre-commit.yml
Due: none

Update generate_dockerignore.py
  src/generate_dockerignore.py
Due: tests
